<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <title>账户信息管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <style>
    html, body, .full-height { height: 100%;}
    .input-width { width: 200px; }
    .header-background-color { background-color: #C8E6C9; }
  </style>
</head>

<body>
  <div id="app" class="full-height">

    <!-- 首页 -->
    <div v-if="showPage=='home'" class="container-fluid">
      <div class="row header-background-color">
        <div class="col-auto mr-auto">
          <h3>账户信息管理</h3>
        </div>
        <div class="col-auto">
          <button type="button" @click="reload" class="btn btn-link">重新加载</button>
          <button type="button" @click="logout" class="btn btn-link">退出登录</button>
        </div>
      </div>
      <div class="row">
        <input v-model="findStr" @keyup.enter="search"
                class="form-control input-width" type="text"
                placeholder="标题/账号/备注" autofocus="autofocus"/>
        <button @click="search" type="button" class="btn btn-primary rounded">搜索</button>
      </div>
      <div class="row">
        <table class="table table-striped table-sm" style="word-break:break-all; word-wrap:break-all;">
          <thead>
            <tr>
              <th scope="col">标题</th>
              <th scope="col">用户名</th>
              <th scope="col">密码</th>
              <th scope="col">网址</th>
            </tr>
            <tr>
              <th scope="col" colspan="4" style="text-align: center;">备注</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(rec, idx) in records" key="rec.id">
              <tr>
                <td class="text-primary">{{rec.title}}</td>
                <td class="text-success">{{rec.username}}</td>
                <td class="text-danger">{{rec.password}}</td>
                <td class="text-info">{{rec.url}}</td>
              </tr>
              <tr v-if="rec.notes != ''">
                <td class="text-wrap" colspan="4">{{rec.notes}}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

    <!-- 登录 -->
    <div v-if="showPage=='login'" class="container-fluid full-height">
      <div class="d-flex align-items-center full-height">
        <div class="mx-auto">
            <div class="form-group pt-3">
            <h6 class="text-center">账户管理系统</h6>
            <h3 class="text-center text-primary">用户登录</h3>
          </div>
          <div class="form-group">
            <input v-model="username" @keyup.enter="nextFocus"
                class="form-control input-width mx-auto" type="text"
                placeholder="请输入用户名" autofocus="autofocus"/>
            <p class="invalid-feedback" :style="usernameStyle">必须输入用户名</p>
          </div>
          <div class="form-group">
            <input v-model="password" @keyup.enter="submit"
                class="form-control input-width mx-auto" type="password"
                placeholder="请输入密码"/>
            <p class="invalid-feedback" :style="passwordStyle">必须输入密码</p>
          </div>
          <div class="form-group">
            <button @click="submit" type="button" class="btn btn-success input-width d-block mx-auto">登录</button>
          </div>
        </div>
      </div>
    </div>

  </div><!-- app -->

  <!-- script -->
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/1.14.7/popper.js" type="module"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>

  <!-- <script src="js/jquery-3.5.1.slim.min.js"></script> -->
  <!-- <script src="js/popper.min.js" type="module"></script> -->
  <!-- <script src="js/bootstrap.min.js"></script> -->
  <!-- <script src="js/vue.min.js"></script> -->
  <!-- <script src="js/vue-resource.min.js"></script> -->
  <script>
    var loginApp = new Vue({
      el: '#app',
      data() { return {
        showPage: 'home',

        // home
        findStr: '',
        records: [],

        // login
        username: '',
        password: '',
        requireUsername: false,
        requirePassword: false,
      }},
      created() {
        this.token = this.getTokenInfo('access_token');
        this.showPage = this.token ? 'home' : 'login';
      },
      computed: {
        usernameStyle: function() {
          return this.requireUsername ? {display: 'block'} : {}
        },
        passwordStyle: function() {
          return this.requirePassword ? {display: 'block'} : {}
        }
      },
      methods: {
        // 回车按键事件，跳转到下一个输入焦点
        nextFocus() {
          var a = document.activeElement;
          var n = a.parentElement.nextElementSibling.firstElementChild;
          n && n.focus();
        },
        // 登录提交事件
        submit() {
          // 输入校验
          this.requireUsername = !this.username;
          this.requirePassword = !this.password;
          if (this.requireUsername || this.requirePassword) return;
          var app = this;
          // 登录
          Vue.http.post('/api/login', {username: this.username, password: this.password}).then(function(res) {
              if (res.data.code) {
                window.alert(res.data.message);
                return;
              }
              app.setTokenInfo(res.data.data);
              app.showPage = 'home';
            }, function(res) {
              window.alert(res.status + " " + res.statusText);
            }
          );
        },
        // 退出登录
        logout() {
          this.token = null;
          window.sessionStorage.removeItem('tokenInfo');
          this.showPage = 'login'
        },
        // 重新加载
        reload() {
          var options = {
            headers: {'Authorization': 'Bearer ' + this.token},
          }
          Vue.http.post('/api/reload', null, options).then(function(res) {
            if (!res.data.code)
              window.alert('加载成功')
            else
              window.alert('加载失败: ' + res.data.message)
          }, function(res) {
            if (res.status == 401) {
              app.showPage = 'login'
              return;
            }
            window.alert(res.status + " " + res.statusText);
          })
        },
        // 保存token到sessionStorage
        setTokenInfo(value) {
          this.token = value.access_token;
          value.exp = new Date().getTime() + (value.exp - 10) * 1000;
          window.sessionStorage.setItem('tokenInfo', JSON.stringify(value));
        },
        // 从sessionStorage中获取token
        getTokenInfo() {
          var val = window.sessionStorage.getItem("tokenInfo");
          if (val) {
            data = JSON.parse(val);
            // token未过期
            if (data.exp > new Date().getTime())
              return data.access_token;
          }
          return null;
        },
        // 查找
        search() {
          var app = this;
          var options = {
            headers: {'Authorization': 'Bearer ' + this.token},
            params: {s: this.findStr.trim()},
          }
          // 登录
          Vue.http.get('/api/list', options).then(function(res) {
              if (res.data.code) {
                window.alert(res.data.message);
                return;
              }
              app.records = res.data.data;
              app.showPage = 'home';
            }, function(res) {
              if (res.status == 401) {
                app.showPage = 'login';
                return;
              }
              window.alert(res.status + " " + res.statusText);
            }
          );
        },
      }
    })
  </script>
</body>

</html>
